<div class="container" *ngIf="movie">
    <div  class="d-flex border rounded align-items-center p-4 mt-3">
        <div style="width: 150px;" class="me-5">
            
            <ng-container *ngIf="state === 0; else otherState">
                <h6 class="alert alert-primary text-center">{{ "Waiting" }}</h6>
            </ng-container>
            <ng-template #otherState>
              <ng-container *ngIf="state === 1; else otherState2">
                <h6 class="alert alert-success text-center">{{ "Read" }}</h6>
              </ng-container>
              <ng-template #otherState2 >
                <h6 class="alert alert-danger text-center">{{ "Edit" }}</h6>
              </ng-template>
 
            </ng-template>
        </div>
        <div class="d-flex align-items-center" *ngIf="state !== 0">
            <h6 style="width: 100px;">{{movie.title}}</h6>
            <h6 style="width: 100px;">{{movie.director}}</h6>
            <h6 style="width: 100px;">{{movie.duration}}</h6>
            <h6 style="width: 100px;">{{movie.year}}</h6>
            <h6 style="width: 250px;" class="me-3">{{movie._id}}</h6>
            <button style="width: 100px;" type="button" class="btn btn-primary me-3"  (click)="openEditModal()">Modifier</button>
            <button type="button" class="btn btn-danger" (click)="openDeleteModal()">Supprimer</button>
        </div>        
        <div *ngIf="state == 0" >
            <iframe src="https://giphy.com/embed/3y0oCOkdKKRi0" width="480" height="350" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/3y0oCOkdKKRi0"></a></p></div>
        </div> 

        
</div>

<div *ngIf="waiting">
    <h1>OFAEVEFVF</h1>
</div>
<!--Modal pour modifier -->
<div *ngIf="state == 2" class="custom-modal">
    <div class="modal-content-custom rounded">
      <h2>Modifier film</h2>
      <hr>
      <div class="modal-body">
        <form *ngIf="movie" [formGroup]="movieForm">
            <div class="mb-3">
              <label for="title" class="form-label">Titre</label>
              <input type="text" class="form-control" id="title" formControlName="title" formControlName="title">
            </div>
            <div class="mb-3">
              <label for="director" class="form-label">Directeur</label>
              <input type="text" class="form-control" id="director" formControlName="director" formControlName="director">
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Année</label>
              <input type="number" class="form-control" id="year" formControlName="year" formControlName="year">
            </div>
            <div class="mb-3">
              <label for="duration" class="form-label">Durée</label>
              <input type="number" class="form-control" id="duration" formControlName="duration" formControlName="duration">
            </div>
          </form> 
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeEditModal()" >Fermer</button>
        <button class="btn btn-primary" (click)="onEditMovie()" >Sauvegarder</button>
      </div>
    </div>
</div>

<div *ngIf="isShowDeleteModal" class="custom-modal">
    <div class="modal-content-custom rounded" *ngIf="movie">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer un film</h1>
        </div>
        <div class="modal-body">
            <p>Voulez-vous vraiment supprimer le film <strong>{{movie.title}}</strong> ?</p>
        </div>
    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Annuler</button>
          <button type="button" class="btn btn-primary"  (click)="onDeleteMovie(movie._id)">Supprimer</button>
        </div>
      </div>
</div>